ul,li {
    background-color: beige;
}

#tasmia {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.munira
{
    color: coral;
}

* {
    background-color: bisque;
}