body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

}

.topnav {

    overflow: hidden;

    background-color: #333;

}

.topnav a {

    float: left;

    color: #1affa3;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    font-size: 17px;

}

.topnav a:hover {

    background-color: #ddd;

    color: black;

}

.topnav a.active {

    background-color: #ffe066;

    color: black;

}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}