body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 30px;
    color: brown;
    text-shadow: 3px 2px rgb(87, 5, 12);
    box-shadow: 2px 3px 5px rgb(177, 112, 15);
}
h1 {
    text-decoration: line-through;
}
h2 {
    text-decoration: overline;
    text-transform: uppercase;
}
h3 {
    text-decoration: underline;
    text-transform: lowercase;
}
h4 {
    text-decoration: overline underline; 
}